.alert .button {
  margin-left: auto;
  font-size: xx-large;
}

.alert > * {
  display: flex;
  padding: 1rem;
  margin: 1rem;
  color: var(--black);
  align-items: center;
}

.alert .primary {
  background-color: var(--primary-color);
}

.alert .success {
  background-color: var(--success);
}

.alert .warning {
  background-color: var(--warning);
}

.alert .error {
  background-color: var(--error);
}
