.button {
  all: unset;
  cursor: pointer;
}

.btn-primary,
.btn-link,
.btn-icon,
.btn-floating {
  background-color: var(--background-color);
  padding: 0.5rem;
  align-items: center;
  color: var(--white);
  margin: 1rem;
  border-radius: 0.2rem;
}

.button a:any-link {
  text-decoration: none;
  color: var(--white);
}

.btn-icon {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn-floating {
  width: 2rem;
  height: 2rem;
  text-align: center;
  border-radius: 2rem;
  z-index: 1;
}
