.button {
  all: unset;
  cursor: pointer;
  transition: background-color 1s;
}

.btn-primary,
.btn-link,
.btn-icon,
.btn-floating {
  background-color: var(--primary-color-light);
  padding: 0.5rem;
  align-items: center;
  margin: 1rem;
  border-radius: 0.2rem;
}

.button a:any-link {
  text-decoration: none;
  color: var(--black);
}

.btn-icon {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn-floating {
  width: 2rem;
  height: 2rem;
  text-align: center;
  border-radius: 2rem;
  z-index: 1;
}

.btn-secondary {
  border: 1px solid var(--primary-color);
  padding: 0.5rem;
  align-items: center;
  color: var(--white);
  margin: 1rem;
  border-radius: 0.2rem;
}
