.grid-two,
.grid-three {
  display: grid;
  gap: 1rem;
  margin: 1rem;
}

.grid-two {
  grid-template-columns: 1fr 1fr;
}

.grid-three {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-two > *,
.grid-three > * {
  background-color: var(--background-color);
  padding: 1rem;
}

@media only screen and (max-width: 800px) {
  .grid-two,
  .grid-three {
    grid-template-columns: 1fr;
  }
}
