.header-logo {
  position: absolute;
  height: 4rem;
  top: 1rem;
  left: 5rem;
}

.header {
  display: flex;
  gap: 2rem;
  padding: 2rem 4rem;
}
.header .fa {
  text-decoration: none;
  color: black;
}

.header a:nth-child(2) {
  margin-left: auto;
}

.header .fa:hover {
  color: var(--primary-color);
}

.header .fa {
  transition: color 0.5s;
}

@media only screen and (max-width: 600px) {
  .header-logo {
    position: absolute;
    height: 4rem;
    top: 1rem;
    left: 2rem;
  }
}

@media only screen and (max-width: 400px) {
  .header .fa-github {
    position: absolute;
    bottom: 1rem;
    left: 6rem;
  }
  .header .fa-twitter {
    position: absolute;
    bottom: 1rem;
    left: 10rem;
  }
  .header .fa-linkedin {
    position: absolute;
    bottom: 1rem;
    left: 14rem;
  }
}

@media only screen and (max-width: 320px) {
  .header .fa {
    display: none;
  }
}
