.header-logo {
  position: absolute;
  height: 4rem;
  top: 1rem;
  left: 2rem;
}

.header-topbar {
  position: sticky;
  top: 0rem;
  display: flex;
  gap: 2rem;
  padding: 2rem 4rem;

  /*Yet to decide whether to keep or not*/
  border-bottom: 1px ridge var(--primary-color);
}
.header-topbar .fa {
  text-decoration: none;
  color: black;
}

.header-topbar a:nth-child(2) {
  margin-left: auto;
}

.header-topbar .fa:hover {
  color: var(--primary-color);
}

.header-topbar .fa {
  transition: color 0.5s;
}

@media only screen and (max-width: 600px) {
  .header-logo {
    position: absolute;
    height: 4rem;
    top: 1rem;
    left: 1rem;
  }

  .header-topbar {
    gap: 1rem;
    padding: 2rem 2rem;
  }
}

@media only screen and (max-width: 370px) {
  .header-topbar .fa-github {
    position: absolute;
    bottom: 1rem;
    left: 6rem;
  }
  .header-topbar .fa-twitter {
    position: absolute;
    bottom: 1rem;
    left: 10rem;
  }
  .header-topbar .fa-linkedin {
    position: absolute;
    bottom: 1rem;
    left: 14rem;
  }
}

@media only screen and (max-width: 320px) {
  .header-topbar .fa {
    display: none;
  }
}
