.modal-wrapper {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.15);
}

.modal-content {
  display: none;
  background-color: var(--white);
  position: fixed;
  padding: 1rem;
  top: 20rem;
  z-index: 2;
  left: 50%;
  transform: translate(-50%, 0%);
  box-sizing: border-box;
}

#closes:hover {
  cursor: pointer;
}

#closes {
  font-size: x-large;
  position: relative;
  top: -1rem;
}
