.nav {
  margin: 0;
  width: 15rem;
  position: fixed;
  overflow-y: scroll;
}

.nav li:hover {
  background-color: var(--background-nav);
}
.nav .active {
  background-color: var(--background-nav);
}

.nav li a:hover {
  padding: 0.5rem;
  color: var(--grey-color);
  cursor: pointer;
}

.nav .heading-lg a,
.nav .heading-md a,
.nav .heading-sm a:hover {
  cursor: pointer;
}
