.grid-container {
  display: grid;
  grid-template-columns: 15rem 1fr;
}

.grid-container .header-topbar {
  grid-area: 1/1/2/3;
}

.grid-container .nav {
  /* height: ; */
  position: fixed;
  grid-area: 2/1/3/2;
  top: 6.05rem;
  width: 15rem;
}

.grid-container .data-container {
  /* position: fixed; */
  top: 6.05rem;
  padding: 2rem;
  grid-area: 2/2/3/3;
}
