.grid-container {
  display: grid;
  grid-template-columns: 15rem 1fr;
}

.grid-container .header-topbar {
  grid-area: 1/1/2/3;
}

.grid-container .nav {
  height: 84vh;
  position: sticky;
  top: 6.05rem;
  width: 15rem;
}

.grid-container .data-container {
  padding: 2rem;
  grid-area: 2/2/3/3;
  overflow-y: scroll;
  height: 73vh;
}
