<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="images.css">
    <title>Images</title>
</head>

<body>

    <div>
        <img class="img-responsive" src="../../Assets/imgs/male profile.jpg" alt="img">
    </div>

    <div>
        <img class="img-round" src="../../Assets/imgs/male profile.jpg" alt="img">

    </div>

</body>

</html>