<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="badges.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <title>Badges</title>
</head>

<body>

    <div>
        <div class="badge">
            <img class="avtar" src="../../Assets/imgs/male profile.jpg" alt="">
            <div class="online"></div>
        </div>

        <div class="badge">
            <img class="avtar" src="../../Assets/imgs/male profile.jpg" alt="">
            <div class="offline"></div>
        </div>

        <div class="badge">
            <img class="avtar" src="../../Assets/imgs/male profile.jpg" alt="">
            <div class="dnd"></div>
        </div>
        <br>
        <div class="badge">
            <i class="material-icons">inbox</i>

            <span class="number">4</span>
        </div>

        <div class="badge">
            <i class="material-icons">mail</i>

            <span class="number">5</span>
        </div>

        <div class="badge">
            <i class="material-icons">message</i>

            <span class="number">1</span>
        </div>

    </div>

</body>

</html>