<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../Css/main.css" />

    <title>Badges</title>
  </head>

  <body>
    <div>
      <div class="badge avtar">
        <img class="md" src="../../Assets/imgs/male profile.jpg" alt="img" />
        <div class="online"></div>
      </div>

      <div class="badge avtar">
        <img class="md" src="../../Assets/imgs/male profile.jpg" alt="img" />
        <div class="offline"></div>
      </div>

      <div class="badge avtar">
        <img class="md" src="../../Assets/imgs/male profile.jpg" alt="img" />
        <div class="dnd"></div>
      </div>
      <br />
      <div class="badge">
        <i class="material-icons">inbox</i>

        <span class="notifications">4</span>
      </div>

      <div class="badge">
        <i class="material-icons">mail</i>

        <span class="notifications">5</span>
      </div>

      <div class="badge">
        <i class="material-icons">message</i>

        <span class="notifications">1</span>
      </div>
      <br />
      <div class="badge-square">tag</div>
    </div>
  </body>
</html>
