<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="buttons.css">
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <title>Document</title>
</head>
<body>

     
        <button class="button primary">
            <a>Click Me</a>
        </button>
        <br>
        <button class="button link">
            <a href="#">Link</a>
        </button>
        <button class="button btn-icon">
            
            <i class="material-icons">save</i>
                        <a>Click Me</a>
        </button>
        
        <button class="button floating">
            <a class="material-icons">shop</a>
        </button>

    
    
    
</body>
</html>