<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="cards.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <title>Cards</title>
  </head>

  <body>
    <div class="wrapper">
      <div class="card basic">
        <img
          src="https://static01.nyt.com/images/2021/11/30/sports/30messi-new/merlin_198571824_2182facc-eb3d-4ad6-a555-3cd35e63819a-superJumbo.jpg"
          alt="img"
        />
        <div class="header">
          <p>Lionel Messi wins his 7th Ballon D'or</p>
          <p>By Nitin Kalra</p>
        </div>

        <footer class="footer">
          <p href="">Read More</p>
          <p href="">Bookmark</p>
          <i class="material-icons">favorite_border</i>
          <i class="material-icons">share</i>
          <i class="material-icons">list</i>
        </footer>
      </div>

      <div class="card basicHeader shadow">
        <img
          src="https://static01.nyt.com/images/2021/11/30/sports/30messi-new/merlin_198571824_2182facc-eb3d-4ad6-a555-3cd35e63819a-superJumbo.jpg"
          alt="img"
        />
        <div class="header">
          <p>Lionel Messi wins his 7th Ballon D'or</p>
          <p>By Nitin Kalra</p>
        </div>

        <footer class="footer">
          <p href="">Read More</p>
          <p href="">Bookmark</p>
          <i class="material-icons">favorite_border</i>
          <i class="material-icons">share</i>
          <i class="material-icons">list</i>
        </footer>
      </div>
      <div class="card onimage">
        <img
          src="https://static01.nyt.com/images/2021/11/30/sports/30messi-new/merlin_198571824_2182facc-eb3d-4ad6-a555-3cd35e63819a-superJumbo.jpg"
          alt="img"
        />
        <div class="header">
          <p>Lionel Messi wins his 7th Ballon D'or</p>
          <p>By Nitin Kalra</p>
        </div>

        <footer class="footer">
          <p href="">Read More</p>
          <p href="">Bookmark</p>
          <i class="material-icons">favorite_border</i>
          <i class="material-icons">share</i>
          <i class="material-icons">list</i>
        </footer>
      </div>
      <div class="card text-only">
        <div class="header">
          <p>Lionel Messi wins his 7th Ballon D'or</p>
          <p>By Nitin Kalra</p>
        </div>

        <button class="dismiss">X</button>

        <footer class="footer">
          <p href="">Read More</p>
          <p href="">Bookmark</p>
          <i class="material-icons">favorite_border</i>
          <i class="material-icons">share</i>
          <i class="material-icons">list</i>
        </footer>
      </div>

      <div class="card text-only">
        <div class="header">
          <p>Lionel Messi wins his 7th Ballon D'or</p>
          <p>By Nitin Kalra</p>
        </div>

        <div class="badge-square">Badge</div>
        <footer class="footer">
          <p href="">Read More</p>
          <p href="">Bookmark</p>
          <i class="material-icons">favorite_border</i>
          <i class="material-icons">share</i>
          <i class="material-icons">list</i>
        </footer>
      </div>
    </div>
  </body>
</html>
