@import "../../Variables/variables.css";
@import "../Text-utilities/text-utils.css";

.list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 5rem;
}

li {
  background-color: var(--primary-color);
  padding: 1rem;
  transition: background-color 1s;
}

.stacked {
  gap: 0;
}

/* If someone wants list to change color alternatively*/

.alternate {
  background-color: var(--background-color);
}
