@import "../Buttons/buttons.css";
@import "../../Variables/variables.css";

body {
  margin: 0;
}
.wrapper {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.15);
}

.modal-content {
  display: none;
  background-color: var(--white);
  position: fixed;
  padding: 1rem;
  top: 10rem;
  z-index: 2;
  top: 10rem;
  left: 50%;
  transform: translate(-50%, 0%);
}

#closes:hover {
  cursor: pointer;
}
