<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../Css/main.css" />
    <title>Modal</title>
  </head>
  <body>
    <div id="modal-wrapper">
      <button id="btn" class="button btn-primary">Click me</button>

      <div id="modal-content" class="modal-content">
        <p>This is a modal box and would appear on click of button</p>
        <span id="closes">&times</span>
      </div>
    </div>

    <script src="modal.js"></script>
  </body>
</html>
