<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="alerts.css">
    <title>Alerts</title>
</head>
<body>

    <div class="alert primary">
        <a>Primary! This is a primary alert</a>
        <button>X</button>
    </div>
    <div class="alert success">
        <a>Success! This is a primary alert</a>
        <button>X</button>
    </div>
    <div class="alert warning">
        <a>Warning! This is a primary alert</a>
        <button>X</button>
    </div>
    <div class="alert error">
        <a>Error! This is a primary alert</a>
        <button>X</button>
    </div>

</body>
</html>