@import "../Buttons/buttons.css";
@import "../../Variables/variables.css";

.snackbar,
.snackbar-center,
.snackbar-right {
  background-color: var(--black);
  color: var(--white);
  padding: 1rem;
  width: 400px;
  text-align: center;
  border-radius: 5px;
  bottom: 10px;
  position: fixed;
}

.snackbar-center {
  left: 50%;
  transform: translate(-50%, 0%);
}

.snackbar-right {
  right: 10px;
}

.button {
  margin-left: 1rem;
}

.button:hover {
  cursor: pointer;
  color: var(--grey-color);
}
