<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../CSS/main.css" />
    <title>Snack-bar</title>
  </head>
  <body>
    <div class="snackbar">
      <span>Can't send photo. Retry in 5 seconds.</span>
      <button class="button">Retry</button>
      <button class="button">X</button>
    </div>
    <div class="snackbar-right">
      <span>Can't send photo. Retry in 5 seconds.</span>
      <button class="button">Retry</button>
      <button class="button">X</button>
    </div>
  </body>
</html>
