<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="text utils.css" />
    <title>Text Utilities</title>
  </head>
  <body>
    <div class="heading">This is my heading</div>
    <div class="small-text">This is small text</div>
    <div class="gray-area">This text will be gray</div>
    <div class="centered">This text would be centered</div>
  </body>
</html>
